[package]
name = "keron"
version = "0.0.1"
edition = "2024"
authors = ["Stefan Ruzitschka <stefan@icepuma.dev>"]
description = "dotfile manager (symlinks, packages)"
keywords = ["dotfile", "dotfiles", "dotfile-manager"]
repository = "https://github.com/icepuma/keron"
readme = "README.md"
license = "MIT OR Apache-2.0"

[dependencies]
anyhow = "1.0.98"

[dev-dependencies]

[profile.release]
lto = true
strip = true
opt-level = "z"
codegen-units = 1
