[package]
name = "keron-e2e"
version = "0.0.1"
edition.workspace = true
license.workspace = true
publish = false

[lints]
workspace = true

[lib]
path = "src/lib.rs"

[dev-dependencies]
tempfile = { workspace = true }
