name: Test
on:
  push:
    branches:
      - "main"
  pull_request:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - windows-2022
          - macos-14
          - macos-15
    env:
      CARGO_TERM_COLOR: always
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/install-action@just
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2
      - run: just check
      - if: matrix.os == 'ubuntu-22.04'
        env:
          RUSTDOCFLAGS: -D warnings
        run: cargo doc --workspace --all-features --no-deps
      - if: matrix.os == 'ubuntu-22.04'
        run: cargo install cargo-audit --locked
      - if: matrix.os == 'ubuntu-22.04'
        run: cargo audit
