name: Test
on:
  push:
    branches:
      - "main"
  pull_request:
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - windows-2022
          - macos-14
          - macos-15
    env:
      CARGO_TERM_COLOR: always
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - run: cargo fmt --all -- --check
      - run: cargo clippy --workspace --all-targets --all-features -- -D warnings -W clippy::pedantic -W clippy::nursery -W clippy::cargo
      - run: cargo test --workspace --all-features
      - if: matrix.os == 'ubuntu-22.04'
        env:
          RUSTDOCFLAGS: -D warnings
        run: cargo doc --workspace --all-features --no-deps
      - if: matrix.os == 'ubuntu-22.04'
        run: cargo install cargo-audit --locked
      - if: matrix.os == 'ubuntu-22.04'
        run: cargo audit
